.sub_banner.work_notes{
 color:#ff4d4d;
}
.content_images{
	float:left;
	width: 568px;
}
[class ^= "work_notes"]{
    position:relative;
    float:left;
    width:1000px;
    height:424px;
    border-bottom:1px solid #edebeb;
    margin-top:10px;
}
.work_notes p{
    float:right;
    line-height:448px;
}
