.sub_banner.preferrings{
 color:#ff4d4d;
}
.content_images{
	float:left;
	width: 568px;
}
[class ^= "preferrings"]{
    position:relative;
    float:left;
    width:1000px;
    height:448px;
    border-bottom:1px solid #edebeb;
    margin-top:10px;
}
.preferrings p{
    float:right;
    line-height:448px;
}


