.banner1.preferrings{
 color:#ff4d4d;
}
#underline{
 color:#ff4d4d;
}
.content{
	/*height:400px;*/
	clear:both;
	margin: 50px 0 0 0 ;
	/*background-color: blue;*/
}
.content_images{
	float:left;
	width: 568px;
	height: 379px;
	background-color:red;
	margin:30px 0 0 0; 
}

.content_texts{
	float:left;
	/*background-color:#31C761;*/
	height:400px;
	width:400px;
	margin:30px 0 0 32px;
}
.preferrings{
	width:1000px;
}
.preferrings img{
	/*float:left;*/
	margin:0 0 10px 0;
}
.seperate{
	margin:-8px 0 0 0;
	width:1000px;
	position:absolute;
	border: 1px solid #edebeb;
}
.verline{
	margin:-10px 0 0 683px;
	height:1310px;
	position:absolute;
	border: 1px solid #edebeb;	
}
.text{
	float:right;
}
.footer{
	display: block;
	height:30px;
	text-align: center;
	margin:103% 0 10px 0;
}